<%= render '/projects/project_header' %>

<%= render :layout => '/projects/project_panel', :locals => {:menu => { files: true } } do %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= @file[:name] %>
    </div>
    <div class="panel-body">
      <pre><%= @file[:content] %></pre>
    </div>
  </div>

<% end %>
