<% if files.size > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Filename</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% files.each do |file| %>
        <tr>
          <td><%= link_to file[:name], project_file_path(project_id, file[:name]) %></td>
          <% if ::Projects::Files::Policy.allowed_actions(current_user.id, project_id).include?(:destroy) %>
            <td><%= link_to 'Destroy', project_file_path(project_id, file[:name]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No files here. Add one!</p>
<% end %>
