<% if files.size > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Filename</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% files.each do |file| %>
        <tr>
          <td><%= link_to file[:name], project_file_path(project_id, file[:name]) %></td>
          <td>
            <% if ::Projects::Files::Policy.allowed_actions(current_user&.id, project_id).include?(:download) %>
              <%= link_to "Download", project_file_download_path(project_id, file[:name]) %>
            <% end %>

            <% if ::Projects::Files::Policy.allowed_actions(current_user&.id, project_id).include?(:destroy) %>
              | <%= link_to 'Destroy', project_file_path(project_id, file[:name]), method: :delete, data: { confirm: 'Are you sure?' } %>
            <% else %>
          </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No files here. Add one!</p>
<% end %>
