<h1>Editing Suggestion</h1>

<%= render 'update_form', project_id: @project_id, suggestion: @suggestion %>

<%= link_to 'Show', project_suggestion_path(@project_id, @suggestion) %> |
<%= link_to 'Back', project_suggestions_path(@project_id) %>
