<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <%= render :partial => '/layouts/navigation/header' %>
  <%= render :partial => '/layouts/navigation/top_links' %>
  <%= render :partial => '/layouts/navigation/static_side' %>
</nav>
